<br><br>

<h1>Home</h1>
<div class="home">

<button><a href="/profile">Profile</a></button>
<button><a href="/uploadFilm">Upload new photo</a></button>

<div></div>
<br><br>
<h2>Your photos</h2>

{{#each films}}
    <h2>Name: {{title}}</h2>
    <button><a href="/home/{{_id}}">Details</a></button>
    <button><a href="/editFilm">Edit photo</a></button>
    <br><br>
{{/each}}

<button><a href="/logout">Logout</a></button>
<br><br>
</div>
