<div class="contaner">
<h1>THE APP:</h1>
<div>Names: ShutterShare</div>
<p>Organize your collection.</p>

    <button><a href="/signup">Sign Up</a></button>
    <button><a href="/login">Log in</a></button>
</div>
