<div class="container">
<h1>THE APP:</h1>
<div>Names: ShutterShare</div>
<p>Organize your collection.</p>
            <button class="login"><a href="/login">LogIn</a></button>    
            <button> <a href="/signup">SignUp</a></button>
</div>
