<div class="container">
<h1>ShutterShare: Show your analog photos to the world</h1>
    <button class="login"><a href="/login">Login</a></button>    
    <button> <a href="/signup">Signup</a></button>
</div>
