<div class="container">
<h1>THE APP:</h1>
<div>Names: ShutterShare</div>
<p>Share your photos.</p>
            <button class="login"><a href="/login">LogIn</a></button>    
            <a href="/signup"><img class="return" src="/images/arrow.png" alt=""></a>
