<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <header>
         <img class="Logo" src="/images/Logo.png" alt="">
         <div>
            <input class="search" type="Search" title="Search"><button><a href=""></a> Go!</button>
         </div>
      </header>
     
      {{{body}}}

      <script src="/js/script.js"></script>

       <footer>
         <h3>Made by:</h3>
         <h4 class="credits"> <span>Nikolas Hempel.</span> <span>Lilian Heim.</span> <span>Christian Siebels</span> </h4>
      </footer>


   </body>

</html>