<h1>Profile</h1>


<div class="profileView"></div>
<div>Username: {{user.username}} </div>
<div>E-Mail: {{user.email}} </div>

<br><br>
<a href="/home"><img class="return" src="/images/arrow.png" alt=""></a>
