<h1>Sign up</h1>
<form action="/signup" method="POST">

<label for="username">Username:</label>
<input type="text" name="username" required>

<label for="email">E-Mail:</label>
<input type="text" name="email" required>

<label for="password">Password:</label>
<input type="password" name="password" required>

<button type="submit">Sign up</button>

</form>
<br><br>
<button><a href="/">Back</a></button>