@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #E6E6E6;
  padding: 0px;
  margin: 0;
  font: 14px 'IBM Plex Sans', sans-serif;
}

.Logo {
  padding-top: 80px;
  height: 150px;
  position: relative;
}
.search {
  align-items: center;
  background-color: #E6E6E6;
  border: solid 2px #242424;
  height: 30px;
  border-radius: 8%;
  font: 14px 'IBM Plex Sans', sans-serif;
}
.login {
  
  background-color: #DBB846;
}
button {
  border: solid 2px #242424;
  height: 30px;
  border-radius: 8%;
  font: 14px 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  
}
header {
  justify-content: space-between;
  display: flex;
  background-color: #656666;
  padding: 5px;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: #242424;
  text-decoration: none;
}

footer {

  height: 100px;
  margin-top: auto;
  background-color: #656666;
  color: #E6E6E6 ;
}

.contaner {
  height: calc(100vh - 220px);
}

/*este n umero es para calcular el largo de la pantalla, para que el footer se mantenga pegado abajo.*/

.creditos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h3 {
  text-align: center;
}