@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #D7E1D1;
  padding: 10px;
  margin: 0;
  font: 12px 'Comic Sans', sans-serif;
}

.Logo {
  padding-top: 80px;
  height: 125px;
  position: relative;
}

.search {
  align-items: center;
  background-color: #e5e5e5;
  border: solid 1px #242424;
  height: 30px;
  font: 12px 'Comic Sans', sans-serif;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}

.go-button {
  background-color: #D7E1D1;
}

.login {
  background-color: #E47B6A;
}

button {
  border: solid 1px #242424;
  height: 30px;
  border-radius: 10%;
  font: 12px 'Comic Sans', sans-serif;
  font-weight: 500;
}

header {
  border: 1px solid #242424;
  justify-content: space-between;
  display: flex;
  background-color: #A59681;
  padding: 5px;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: #242424;
  text-decoration: none;
}

footer {
  border: 1px solid #242424;
  height: 100px;
  margin-top: auto;
  background-color: #A59681;
  color: #E6E6E6 ;
}

.container {
  padding: 80px;
  height: calc(100vh - 350px);
}

/*este n umero es para calcular el largo de la pantalla, para que el footer se mantenga pegado abajo.*/

.credits {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  color: #242424;
  text-align: center;
  font: 12px 'Comic Sans', sans-serif;
}

h4 {
  color: #242424;
  font: 12px 'Comic Sans', sans-serif;
}

.login-form{
  padding: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.login-f {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 350px;
  background-color: #D8D1C1;
  font: 20px 'comic Sans', sans-serif;
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 10px;
}

.papi {
  justify-content: space-between;
  display: flex;
}

.login-i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-in {
  border: solid 1px #242424;
  background-color: #e5e5e5;
}

.login-l {
  display: flex;
  flex-direction: end;
  flex-direction: column;
}

.login-b {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #E47B6A;
  width: 100px;
  margin-left: 250px;
  
}
.return {
  width: 40px;
  padding: 20px;
  padding-bottom: 40px;
  opacity: 60%;
}

