header {
  background-color: #242424
}

body {
  background-color: white;
  padding: 20px;
  margin: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 15px;
}
