@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #D7E1D1;
  padding: 10px;
  margin: 0;
  font: 12px 'Comic Sans', sans-serif;
}

.Logo {
  padding-top: 80px;
  height: 125px;
  position: relative;
}

.search {
  align-items: center;
  background-color: #D7E1D1;
  border: solid 1px #242424;
  height: 30px;
  font: 12px 'Comic Sans', sans-serif;
}

.login {
  background-color: #E47B6A;
}

button {
  border: solid 1px #242424;
  height: 30px;
  border-radius: 10%;
  font: 12px 'Comic Sans', sans-serif;
  font-weight: 500;
}

header {
  justify-content: space-between;
  display: flex;
  background-color: #A59681;
  padding: 5px;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: #242424;
  text-decoration: none;
}

footer {
  height: 100px;
  margin-top: auto;
  background-color: #A59681;
  color: #E6E6E6 ;
}

.container {
  height: calc(100vh - 220px);
}

/*este n umero es para calcular el largo de la pantalla, para que el footer se mantenga pegado abajo.*/

.creditos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  text-align: center;
}